.main{
    display: flex;
    align-items: center;
    gap: 90px;
    margin-top: 88px;
}

.mainOne-blok .span{
    background-color: #FFF2D4;
    color: #F4B41B;
    font-size: 16px;
    font-weight: 600;
    padding: 11px;
    border-radius: 7px;
}
.mainOne-blok h1{
    margin-top: 17px;
    font-size: 48px;
    font-weight: 700;
    color: #3C3C3C;
}
.mainOne-blok span{
    color: #F4B41B;
}

.mainOne-blok p{
    color: #667085;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.main-btn{
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 28px;
}

.main-btn a{
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

.main-btnOne{
    color: #FFFFFF;
    background-color: #FFC12F;
    padding: 15px 20px;
    border-radius: 48px;
}

.main-btnTwo{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}
.main-btnTwo a{
    color: #3C3C3C;
}